/*https://color.adobe.com/Color-Theme-1-color-theme-9518303/?showPublished=true*/
h1 {
  text-align: center;
  /*text-shadow: 0.5px 0.5px 0.5px #343642;*/
  margin-top: 3.125em;
  font-size: 26px;
}

h2 {
  font-size: 22px;
  text-align: center;
  font-style: italic;
  margin: 1em;
  margin-bottom: 0.5em;
}

/*take out picture eventually*/

body {
  margin-left: 35%;
  margin-right: 35%;

  height: 100%;
  background: #e4dbd0;
  background-repeat: no-repeat;
  background-attachment: fixed;

  color: #546e7a;
  font-family: Roboto;

}

p {
  text-indent: 3.125em;
  font-size: 16px;
}

h3{
  list-style-type: none;
  font-size: 16px;
  padding: 0em;
  margin-top: 0.8em;
  margin-bottom: 0.2em;
  font-weight: none;
}

img{
  float: left;
  display:block;
  margin-left: 1em;
  border-radius: 5px;
  max-width: 13em;
}

a{
text-decoration: none;
}

.siteInfo{

}

.website{
  position: relative;
}

.website:hover{

}
/*
#sep_small{
  display:inline;
  margin-bottom: 1em;

  width: 0.5em;
  height: 0.5em;
  border-radius: 10px;
  background: #61524B;

}
*/
#sep{
  display:block;
  margin: 0 auto;

  width: 30em;
  height: 0.5em;
  border-radius: 10px;
  background: #61524B;
}

.btn{
  display: inline-block;
  margin: 0 auto;
  margin-top: 1em;
  max-width:6em;
  font-family: Roboto;
  transition: all 0.4s ease 0s;
  text-decoration: none;
  border-radius: 5px;

  color: #B0BEC5;
  padding: 6px 18px;
  background-color: #37474F;
}

.btn:hover {
  color: #FFFFFF;
  background-color: #6F5F36;
}

footer{
  text-align: center;
  margin: 30%;
  color: #FFFFFF;
}
