/*https://color.adobe.com/Color-Theme-1-color-theme-9518303/?showPublished=true*/
h1 {
  text-align: center;
  /*text-shadow: 0.5em 0.5em 0.5em #343642;*/
  margin-top: 50em;
  font-size: 26em;
}

h2 {
  font-size: 21em;
  font-style: italic;
}

/*take out picture eventually*/

body {
  margin-left: 35%;
  margin-right: 35%;

  height: 100%;
  background: linear-gradient(to top left, #0F612C, #143E2C, #181B23);
  background-repeat: no-repeat;
  background-attachment: fixed;

  color: #7D8B9C;
  font-family: Roboto;

}

p {
  text-indent: 50em;
  font-size: 16em;
}

ul{
  list-style-type: none;
  font-size: 16em;
}

#sep{
  display:block;
  margin: auto;

  width: 500em;
  height: 8em;
  border-radius: 10em;
  background: #B1B1B8;
}

.btn{
  font-family: Roboto;
  transition: all 0.4s ease 0s;
  text-decoration: none;
  font-size: 16em;
  border-radius: 5em;

  background: none;
  color: #7D8B9C;
  padding: 8em 20em;
  /*background-color: #343642; */
}

.btn:hover {
  color: #FFFFFF;
  background-color: #6F5F36;
}

footer{
  text-align: center;
  margin: 30%;
  color: #FFFFFF;
}
