/*https://color.adobe.com/Color-Theme-1-color-theme-9518303/?showPublished=true*/

ul {
    transition: all 0.3s ease 0s;
    font-family: Roboto;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: #343642;

}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #962d3e;
}

h1 {
  font-family: Roboto;
  color: #E5D9CF;
  text-align: center;
  text-shadow: 0.5px 0.5px 0.5px #000000;
  margin-left: 35px;
}

.jumbotron{
  background-image: url('https://s9.postimg.org/i7b7fentb/pexels-photo-192505.jpg');
  background-size: cover;
  display: flex;
  align-items: center;
  height: 350px;
  border-radius: 5px;
  margin: 20px;
  shadow: 0.8px 0.8px 0.8px #000000
}

body {
  background-color: #E5D9CF;
}

.content{
  font-size: 25px;
  text-align: center;
}

p{
  text-align: center;
}

.col-sm-2{
}

.btn{
  font-family: Roboto;
  transition: all 0.3s ease 0s;
  text-decoration: none;
  font-size: 17px;
  border-radius: 10px;
  color: #b3ffdf ;
  background-color: #181e24;
  padding: 8px 25px;
}

.btn:hover {
  color: #181e24;
  background-color: #b3ffdf;
}

.btnt{
  transition: all 0.3s ease 0s;
  text-decoration: none;
  font-size: 20px;
  color: #b3ffdf ;
  background-color: #181e24;
  border-radius: 10px;

}

/*make a hover button expands to the right with links*/
.btnt:hover{
  background-image: ('https://s28.postimg.org/u9kyl2t5p/new.png');
}

footer{
  text-align: left;
  margin-left: 20px;
}
